# Python
*/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.eggs/
*.whl

# Django
*/migrations
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# Virtual Environment
venv/
env/
.venv/
.env

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Python Environment
.env
.env.local
.env.*.local

# Pytest
.cache
.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
