 

{% extends 'base-s.html' %}

{% block content %}
    <h2>Sales Report</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Generate Report</button>
    </form>

    {% if sales_data %}
        <h3>Sales Report - {{ time_frame|capfirst }}</h3>

        <table class="table">
            <thead>
                <tr>
                    {% if time_frame == 'monthly' %}
                        <th>Month</th>
                    {% elif time_frame == 'daily' %}
                        <th>Day</th>
                    {% elif time_frame == 'yearly' %}
                        <th>Year</th>
                    
                    {% endif %}
                    <th>Total Sales</th>
                </tr>
            </thead>
            <tbody>
                {% for data in sales_data %}
                    <tr>
                        {% if time_frame == 'monthly' %}
                            <td>{{ data.month|date:"F Y" }}</td>
                        {% elif time_frame == 'daily' %}
                            <td>{{ data.day|date:"F d, Y" }}</td>
                        {% elif time_frame == 'yearly' %}
                            <td>{{ data.year|date:'Y' }}</td>
                        {% endif %}
                        <td>${{ data.total_sales }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No data available for the selected criteria.</p>
    {% endif %}
{% endblock %} 


