{% extends 'base-s.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form>

    {% if top_items %}
        <h2>Top 5 Selling Items ({{ start_date }} - {{ end_date }})</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Total Revenue</th>
                </tr>
            </thead>
            <tbody>
                {% for item in top_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.total_revenue }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items found within the specified date range.</p>
    {% endif %}
{% endblock %}