{% extends "base-s.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Create Item</h2>
    
    <form method="POST" enctype="multipart/form-data">  {% comment %} اضافه کردن enctype {% endcomment %}
        {% csrf_token %}
        
        <div class="form-group">
            <label for="id_category">Category:</label>
            {{ form.category }}
        </div>

        <div class="form-group">
            <label for="id_name">Name:</label>
            {{ form.name }}
        </div>

        <div class="form-group">
            <label for="id_description">Description:</label>
            {{ form.description }}
        </div>

        <div class="form-group">
            <label for="id_price">Price:</label>
            {{ form.price }}
        </div>

        <div class="form-group">
            <label for="id_image">Image:</label>  {% comment %} اضافه کردن فیلد image {% endcomment %}
            {{ form.image }}
        </div>

        <div class="form-group">
            <label for="id_available">Available:</label>
            {{ form.available }}
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <a href="{% url 'staff:item_list' %}" class="btn btn-secondary">Back to Items</a>
    </form>
</div>
{% endblock %}